<div class="about_us_page" ng-controller="aboutUsController">
    <div class="container">
        <div class="row">
            <div class="about_container clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>About EGIS</h2>
                    </div>
                    <div class="content">
                        <p>
                            Launched in 2018, EGIS is the leading GIS based E-Commerce platform in world. We serve
                            millions of
                            buyers, sellers and suppliers around the Sri Lanka.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/about_page/2018-image.jpg" class="described-image"/>
                </div>

            </div>
            <div class="mission_container clearfix">
                <div class="col-md-6">
                    <img src="assets/images/about_page/mission.jpg" class="described-image"/>
                </div>
                <div class="col-md-6">
                    <div class="title">
                        <h2>Our Mission</h2>
                    </div>
                    <div class="content">
                        <p>
                            Our mission is to make it easy to do business anywhere in Sri Lanka getting help of GIS
                            technologies.
                            <br>
                            We do this by giving sellers, suppliers the tools necessary to reach a audience for their
                            products
                            and helping buyers to find products and sellers quickly and efficiency.
                        </p>
                    </div>
                </div>
            </div>
            <div class="one_stop_container clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>One-Stop Sourcing</h2>
                    </div>
                    <div class="content">
                        <p>
                            EGIS brings you thousands of products in major categories including consumer electronics,
                            machinery
                            and apparel.
                            <br/>
                            Buyers and sellers are located in 9 provinces and thousands of transactions happen on the
                            platform
                            each day.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/about_page/stop.jpg" class="described-image"/>
                </div>
            </div>
            <div class="anywhere_container clearfix">
                <div class="col-md-6">
                    <img src="assets/images/about_page/anytime.jpg" class="described-image"/>
                </div>
                <div class="col-md-6">
                    <div class="title">
                        <h2>Anytime,Anywhere</h2>
                    </div>
                    <div class="content">
                        <p>
                            As a platform, we continue to develop services to help businesses do more and discover new
                            opportunities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="branches_container clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Branches</h2>
                    </div>
                    <div class="content">
                        <p>
                            EGIS main office is located at Bambalapitiya,Colombo 04. Other branches of EGIS are located
                            at
                            Kurunegala, Kandy, Galle.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <map-canvas id="map"></map-canvas>
                    </div>
                </div>
            </div>
            <div class="branch-division-container clearfix">
                <div class="col-md-6">
                    <div class="main-title">
                        <h2>Service area divisions of branches</h2>
                    </div>
                    <div class="title-container">
                        <span class="title">Legend</span>
                    </div>
                    <div class="legend">
                        <div>
                            <span>Service area divisions of branches</span>
                        </div>
                        <div class="symbol-container">
                            <div class="item clearfix" style="margin-bottom: 10px;margin-top: 10px;">
                                <div class="col-md-4">
                                    <span style="display: block;border: 1px solid;background-color:rgb(232, 21, 21);height: 30px;"></span>
                                </div>
                                <div class="col-md-8">
                                    <span>Kurunegala Division</span>
                                </div>
                            </div>

                            <div class="item clearfix" style="margin-bottom: 10px;margin-top: 10px;">
                                <div class="col-md-4">
                                    <span style="display: block;border: 1px solid;background-color:rgb(40, 146, 199);height: 30px;"></span>
                                </div>
                                <div class="col-md-8">
                                    <span>Colombo Division</span>
                                </div>
                            </div>

                            <div class="item clearfix" style="margin-bottom: 10px;margin-top: 10px;">
                                <div class="col-md-4">
                                    <span style="display: block;border: 1px solid;background-color:rgb(191, 212, 138);height: 30px;"></span>
                                </div>
                                <div class="col-md-8">
                                    <span>Kandy Division</span>
                                </div>
                            </div>

                            <div class="item clearfix" style="margin-bottom: 10px;margin-top: 10px;">
                                <div class="col-md-4">
                                    <span style="display: block;border: 1px solid;background-color:rgb(252, 179, 68);height: 30px;"></span>
                                </div>
                                <div class="col-md-8">
                                    <span>Galle Division</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container" style="margin-top: 20px;margin-bottom: 20px;">
                        <esri-map id="map2" map-options="map.options">
                            <esri-feature-layer
                                    url="{{url}}">
                            </esri-feature-layer>
                        </esri-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

