<div class="all-product-page" ng-controller="allProductController">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2">
                <h4 class="all_category_title">Other Categories</h4>
                <div class="focus-border focus-border-all-product" ng-repeat="cat_item in category"
                     ng-hide="cat_item.name==category_name" ng-click="goAllProductCategory(cat_item.id,cat_item.name,cat_item.icon,cat_item.color)">
                    <div class="focus-layout">
                        <div class="focus-image"><i ng-class="cat_item.icon"
                                                    ng-style="{'background-color':cat_item.color}"></i>
                        </div>
                        <h4 class="clrchg">{{cat_item.name}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="single-title-container" ng-show="cat">
                    <div class="focus-border focus-border-all-product">
                        <div class="focus-layout">
                            <div class="focus-image"><i ng-class="category_image"
                                                        ng-style="{'background-color':category_color}"></i>
                            </div>
                            <h4 class="clrchg">{{category_name}}</h4>
                        </div>
                    </div>
                </div>
                <h2 class="all_product_title" ng-show="all">All Products</h2>
                <div class="adbox clearfix" ng-repeat="item in products" ng-show="item.remain_qty>0">
                    <div class="col-md-6">
                        <div class="image-container">
                            <img ng-src="{{item.image}}" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>{{item.name}}</h2>
                        <h4>{{item.description}}</h4>
                        <h4>{{item.price}}/=</h4>
                        <h4>{{item.remain_qty}} items available</h4>
                        <div>
                            <button class="btn btn-success view-product-btn" style="margin-top: 20px;" ng-click="viewProduct(item.product_id)">view product</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>