<div class="contact_page">
    <div class="container">
        <div class="row">
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>EGIS Head Office</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">No. 302, Galle Road, Colombo 04.</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0112345674</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">head@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.037742596851!2d79.85776071426761!3d6.8860827207535955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25bc4e5ac84eb%3A0x12ea9301047b4b82!2s302%2C+4+Galle+Rd%2C+Colombo+00500!5e0!3m2!1sen!2slk!4v1538528764454"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Kurunegala Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">No:178/3, Munasinghe Building, Colombo Road, Kurunegala.</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0372223575</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">kurunegala@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15823.52221932611!2d80.3575069!3d7.4784401!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9c326aff3c07afc9!2sMunasinghe+Building!5e0!3m2!1sen!2slk!4v1538530373127"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Kandy Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description"> No 670,Peradeniya Road,Kandy</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0812068044</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">kandy@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.693313846409!2d80.61114461426894!3d7.275695515981251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3689580e2cded%3A0x36d4f3cc593d387!2s670+Peradeniya+Rd%2C+Kandy+20000!5e0!3m2!1sen!2slk!4v1538531033049"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Galle Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">No. 34, 1st Cross Street,Talbot Town,Galle</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0912234642</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">galle@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15870.831014682364!2d80.2177948!3d6.0347846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6e58082ed6b7c3c!2sSeylan+Bank!5e0!3m2!1sen!2slk!4v1538531310287"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Ratnapura Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">45 Dharmapala Mawatha,Ratnapura</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0452225050</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">ratnapura@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.7222540710945!2d80.39576761426706!3d6.68128942316369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3bf1222b1d0ef%3A0x1f56d359c71556e8!2sCommercial+Bank+ATM!5e0!3m2!1sen!2slk!4v1538531875175"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Chilaw Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">No 44, Colombo Road, Chilaw</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0322222956</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">chilaw@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.0095982732414!2d79.79453191427002!3d7.573931312162616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2c963486ae253%3A0x504838c6897466ba!2sCommercial+Bank!5e0!3m2!1sen!2slk!4v1538532319556"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="branch-item clearfix">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Dambulla Branch</h2>
                    </div>
                    <div class="content">
                        <div class="address-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-address-card symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">No 680, Anuradhapura Road, Dambulla</span>
                            </div>
                        </div>
                        <div class="telephone-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-phone-volume symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">0662284934</span>
                            </div>
                        </div>
                        <div class="email-container detail-container clearfix">
                            <div class="col-md-2">
                                <i class="fas fa-envelope symbol"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="symbol-description">dambulla@egis.lk</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.1722751438024!2d80.6487666142712!3d7.877035908134591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afca53f68fec81d%3A0x518d6a95259452f5!2sCommercial+Bank!5e0!3m2!1sen!2slk!4v1538532492475"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>