<div class="delivery-page">
    <div class="container">
        <div class="row">
            <div class="main-title-container">
                <h2 class="main-title">EGIS Delivery Services - Frequently Asked Questions</h2>
            </div>

            <div class="question-item-container clearfix">
                <div class="col-md-6">
                    <div class="question">
                        <span class="text">
                            What about the geographic scope of EGIS product delivery?
                        </span>
                    </div>
                    <div class="answer">
                        <span class="text">
                            Product Delivery of EGIS is limited within Sri Lanka (all 9 provinces).
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mymap-container">
                        <img src="assets/images/delivery/slmap.jpg"/>
                    </div>
                </div>
            </div>

            <div class="question-item-container clearfix">
                <div class="question">
                    <span class="text">
                        What are available delivery options in EGIS?
                    </span>
                </div>
                <div class="answer">
                    <span class="text" style="display:block;">
                        There are two available delivery options in EGIS.
                    </span>
                    <div style="padding-left: 50px;">
                        <ul style="display:inline-block;">
                            <li>EGIS Product Delivery Service</li>
                            <li>Third Party Logistic Services</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="question-item-container clearfix">
                <div class="col-md-6">
                    <div class="question">
                        <span class="text">
                        Do you deliver on weekends and public holidays?
                        </span>
                    </div>
                    <div class="answer">
                        <span class="text">
                        Yes. EGIS delivery service provides their serivces on weekends and holidays. To Know about other
                        third party services please contact relevant third party logistic companies.
                        </span>
                    </div>
                </div>
            </div>

            <div class="question-item-container clearfix">
                <div class="col-md-6">
                    <div class="question">
                        <span class="text">
                            How do I track my product delivery?
                        </span>
                    </div>
                    <div class="answer">
                        <span class="text">
                            You can track your product up to last mile of delivery by using our real time synchronized
                            good tracking service.
                        </span>
                    </div>
                </div>
            </div>

            <div class="question-item-container clearfix">
                <div class="col-md-6">
                    <div class="question">
                        <span class="text">
                            What is the earliest that my orders can be delivered in Sri Lanka ?
                        </span>
                    </div>
                    <div class="answer">
                        <span class="text">
                           You need to place the order at least one day prior to the delivery date.
                        </span>
                    </div>
                </div>
            </div>

            <div class="question-item-container clearfix">
                <div class="col-md-6">
                    <div class="question">
                        <span class="text">
                           Is the delivery guaranteed in Sri Lanka ?
                        </span>
                    </div>
                    <div class="answer">
                        <span class="text">
                           Yes absolutely. We are responsible for the EGIS product delivery service. But we are not
                            responsible for any third party logistic services. But sellers are responsible to report to
                            EGIS for product delivery.
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>