<div class="main-banner banner text-center">
    <div class="container">
        <h1>Buy or Sell <span class="segment-heading"> anything online </span> with EGIS</h1>
        <p>EGIS is the pioneer company provides GIS based E-Commerce services in the world</p>
        <a href="post-ad.html">Join Now</a>
    </div>
</div>
<!-- content-starts-here -->
<div class="content">
    <div class="categories">
        <div class="container">
            <h2 class="home-page-category-title">Categories</h2>
            <div class="col-md-2 focus-grid">
                <a href="categories.html">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-mobile"></i></div>
                            <h4 class="clrchg">Mobiles</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab2">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-laptop"></i></div>
                            <h4 class="clrchg"> Electronics & Appliances</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab3">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-car"></i></div>
                            <h4 class="clrchg">Cars</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab4">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                            <h4 class="clrchg">Bikes</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab5">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                            <h4 class="clrchg">Furnitures</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab6">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-paw"></i></div>
                            <h4 class="clrchg">Pets</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab7">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-book"></i></div>
                            <h4 class="clrchg">Books, Sports & Hobbies</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab8">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                            <h4 class="clrchg">Fashion</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab9">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                            <h4 class="clrchg">Kids</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab10">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-shield"></i></div>
                            <h4 class="clrchg">Services</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab11">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-at"></i></div>
                            <h4 class="clrchg">Jobs</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab12">
                    <div class="focus-border">
                        <div class="focus-layout">
                            <div class="focus-image"><i class="fa fa-home"></i></div>
                            <h4 class="clrchg">Real Estate</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="featured-ads">
        <div class="container">
            <!-- slider -->
            <div class="trend-ads">
                <h2>Featured Products</h2>
            </div>
            <div id="nav">
                <button class="btn-prev">Prev</button>
                <button class="btn-next">Next</button>
            </div>
            <div id="dashboard">
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
    </div>
    <div class="popular-ads">
        <div class="container">
            <!-- slider -->
            <div class="trend-ads">
                <h2>Popular Products</h2>
            </div>
            <div id="nav-popular">
                <button class="btn-prev_popular" id="popular-prev">Prev</button>
                <button class="btn-next_popular" id="popular-next">Next</button>
            </div>
            <div id="dashboard-popular">
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
                <div class="col-md-3 biseller-column">
                    <a href="single.html">
                        <img src="assets/images/p4.jpg"/>
                        <span class="price">&#36; 159</span>
                    </a>
                    <div class="ad-info">
                        <h5>passage of Lorem Ipsum you need to be</h5>
                        <span>19 hour ago</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
    </div>
</div>
<script>
    $(function () {
        var $panel = $('<div class="panel">13</div>');
        var slickOpts = {
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            prevArrow: '.btn-prev',
            nextArrow: '.btn-next',
            autoplay: true
        };
        var slickOpts_popular = {
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            prevArrow: '.btn-prev_popular',
            nextArrow: '.btn-next_popular',
            autoplay: true
        };
        // Init the slick
        $('#dashboard').slick(slickOpts);
        $('#dashboard-popular').slick(slickOpts_popular);
        var slickEnabled = true;

        // Add panel
        $('.btn-add').on('click', function () {
            $('#dashboard').slickAdd($panel);
        });


        // Slick/Unslick
        $('.btn-unslick').on('click', function (e) {
            if (slickEnabled) {
                $('#dashboard').unslick();
                $(this).text('Slick');
                slickEnabled = false;
            } else {
                $('#dashboard').slick(slickOpts);
                $(this).text('Unslick');
                slickEnabled = true;
            }
        });

        // Re-slick
        $('.btn-slick').on('click', function () {
            $('#dashboard').slick(slickOpts);
        });
    });
</script>