<div class="main-banner banner text-center">
    <div class="container">
        <h1>Buy or Sell <span class="segment-heading"> anything online </span> with EGIS</h1>
        <p>EGIS is the pioneer company provides GIS based E-Commerce services in the world</p>
        <a href="/register">Join Now</a>
    </div>
</div>
<div class="content" ng-controller="homeController">
    <!--search bar container-->
    <div class="search-bar-container-home-page clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search Anything Here"
                               ng-model="search_text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select id="cat_select" class="form-control" ng-options="item.name for item in category"
                                ng-model="cat"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button class="btn btn-success search-btn">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search bar end-->
    <div class="categories">
        <div class="container">
            <h2 class="home-page-category-title">Categories</h2>
            <div class="col-md-2 focus-grid" ng-repeat="cat_item in category" ng-hide="cat_item.flag">
                <a>
                    <div class="focus-border" ng-click="goSingleCategory()">
                        <div class="focus-layout">
                            <div class="focus-image"><i ng-class="cat_item.icon"
                                                        ng-style="{'background-color':cat_item.color}"></i>
                            </div>
                            <h4 class="clrchg">{{cat_item.name}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div class="category-button-container">
                <button class="btn btn-success all-cat-button" ng-click="goAllCategory()">SHOW ALL CATEGORIES</button>
            </div>
        </div>
    </div>
    <div class="featured-ads">
        <div class="container">
            <!-- slider -->
            <div class="trend-ads">
                <h2>Featured Products</h2>
                <div style="height: 305px">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
        <div class="feature-button-container">
            <button class="btn btn-success feature-btn" ng-click="goAllProduct()">SHOW ALL FEATURED PRODUCTS</button>
        </div>
    </div>
    <div class="popular-ads">
        <div class="container">
            <!-- slider -->
            <div class="trend-ads">
                <h2>Popular Products</h2>
                <div style="height: 305px">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
        <div class="popular-button-container">
            <button class="btn btn-success popular-btn" ng-click="goAllProduct()">SHOW ALL POPULAR PRODUCTS</button>
        </div>
    </div>
    <div class="recent-ads">
        <div class="container">
            <!-- slider -->
            <div class="trend-ads">
                <h2>Recent Products</h2>
                <div style="height: 305px">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
        <div class="recent-button-container">
            <button class="btn btn-success recent-btn" ng-click="goAllProduct()">SHOW ALL RECENT PRODUCTS</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        var $panel = $('<div class="panel">13</div>');
        var slickOpts = {
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            prevArrow: '.btn-prev',
            nextArrow: '.btn-next',
            autoplay: true
        };
        var slickOpts_popular = {
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            prevArrow: '.btn-prev_popular',
            nextArrow: '.btn-next_popular',
            autoplay: true
        };
        var slickOpts_recent = {
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            prevArrow: '.btn-prev_recent',
            nextArrow: '.btn-next_recent',
            autoplay: true
        };
        // Init the slick
        $('#dashboard').slick(slickOpts);
        $('#dashboard-popular').slick(slickOpts_popular);
        $('#dashboard-recent').slick(slickOpts_recent);
        var slickEnabled = true;

        // Add panel
        $('.btn-add').on('click', function () {
            $('#dashboard').slickAdd($panel);
        });


        // Slick/Unslick
        $('.btn-unslick').on('click', function (e) {
            if (slickEnabled) {
                $('#dashboard').unslick();
                $(this).text('Slick');
                slickEnabled = false;
            } else {
                $('#dashboard').slick(slickOpts);
                $(this).text('Unslick');
                slickEnabled = true;
            }
        });

        // Re-slick
        $('.btn-slick').on('click', function () {
            $('#dashboard').slick(slickOpts);
        });
    });
</script>