<div class="location_category_main_container" ng-controller="locationCategoryController">
    <div class="container">
        <div class="row">
            <div class="location_category_secondary_container">
                <h2 class="main-title">Recommended Categories Based on Your Location</h2>
                <div class="available-categories-container">
                    <h2 class="sub-title">Available Categories in Your Location</h2>
                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{gnd_name}} Grama Niladhari Division</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid" style="margin-bottom: 15px;" ng-repeat="cat_item in gnd_cat">
                            <a>
                                <div class="focus-border" ng-click="goLocationProduct(cat_item.category_name,cat_item.category_icon,cat_item.category_color,gnd_cat,cat_item.category_id,'gnd')">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.category_icon"
                                                                    ng-style="{'background-color':cat_item.category_color}"></i>
                                        </div>
                                        <h4 class="clrchg">{{cat_item.category_name}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{dsd_name}} Divisional Secretariast
                        Division</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid" style="margin-bottom: 15px;" ng-repeat="cat_item in dsd_cat">
                            <a>
                                <div class="focus-border" ng-click="goLocationProduct(cat_item.category_name,cat_item.category_icon,cat_item.category_color,dsd_cat,cat_item.category_id,'dsd')">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.category_icon"
                                                                    ng-style="{'background-color':cat_item.category_color}"></i>
                                        </div>
                                        <h4 class="clrchg">{{cat_item.category_name}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{district_name}} District</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid" style="margin-bottom: 15px;"
                             ng-repeat="cat_item in district_cat">
                            <a>
                                <div class="focus-border" ng-click="goLocationProduct(cat_item.category_name,cat_item.category_icon,cat_item.category_color,district_cat,cat_item.category_id,'district')">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.category_icon"
                                                                    ng-style="{'background-color':cat_item.category_color}"></i>
                                        </div>
                                        <h4 class="clrchg">{{cat_item.category_name}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{province_name}} Province</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid" ng-repeat="cat_item in province_cat"
                             style="margin-bottom: 15px;">
                            <a>
                                <div class="focus-border"
                                     ng-click="goLocationProduct(cat_item.category_name,cat_item.category_icon,cat_item.category_color,province_cat,cat_item.category_id,'province')">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.category_icon"
                                                                    ng-style="{'background-color':cat_item.category_color}"></i>
                                        </div>
                                        <h4 class="clrchg">{{cat_item.category_name}}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>