<div class="location-product-page all-product-page" ng-controller="locationProductController">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2">
                <h4 class="all_category_title">Other Categories</h4>
                <div class="focus-border focus-border-all-product" ng-repeat="cat_item in category"
                     ng-hide="cat_item.category_name==category_name"
                     ng-click="goLocationProduct(cat_item.category_name,cat_item.category_icon,cat_item.category_color,category,cat_item.category_id,category_type)">
                    <div class="focus-layout">
                        <div class="focus-image"><i ng-class="cat_item.category_icon"
                                                    ng-style="{'background-color':cat_item.category_color}"></i>
                        </div>
                        <h4 class="clrchg">{{cat_item.category_name}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="single-title-container">
                    <div class="focus-border focus-border-all-product">
                        <div class="focus-layout">
                            <div class="focus-image"><i ng-class="category_image"
                                                        ng-style="{'background-color':category_color}"></i>
                            </div>
                            <h4 class="clrchg">{{category_name}}</h4>
                        </div>
                    </div>
                </div>
                <h2 class="all_product_title">All Products Available in {{admin_boundary}}</h2>
                <h3>All Products are sorted based on delivery time to your location of residence</h3>
                <div class="adbox clearfix" ng-repeat="item in sorted_products">
                    <div class="col-md-6">
                        <div class="image-container">
                            <img ng-src="{{item.image}}" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>{{item.name}}</h2>
                        <h4>{{item.description}}</h4>
                        <h4>{{item.price}}/=</h4>
                        <h4>{{item.remain_qty}} items available</h4>
                        <div>
                            <button class="btn btn-success view-product-btn" style="margin-top: 20px;"
                                    ng-click="viewProduct(item.id)">view product
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="color:blue;cursor:pointer;font-size: 18px;" ng-click="goCategoryInterest()">View Category Interest on Map</span>
            </div>
        </div>
    </div>
</div>