<div class="location_category_main_container" ng-controller="locationCategoryController">
    <div class="container">
        <div class="row">
            <div class="location_category_secondary_container">
                <h2 class="main-title">Recommended Categories Based on Your Location</h2>
                <div class="available-categories-container">
                    <h2 class="sub-title">Available Categories in Your Location</h2>
                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{gnd_name}} Grama Niladhari Division</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid">
                            <a>
                                <div class="focus-border" ng-click="">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.icon"
                                                                    ng-style="{'background-color':cat_item.color}"></i>
                                        </div>
                                        <h4 class="clrchg"></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{dsd_name}} Divisional Secretariast Division</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid">
                            <a>
                                <div class="focus-border" ng-click="">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.icon"
                                                                    ng-style="{'background-color':cat_item.color}"></i>
                                        </div>
                                        <h4 class="clrchg"></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{district_name}} District</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid">
                            <a>
                                <div class="focus-border" ng-click="">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.icon"
                                                                    ng-style="{'background-color':cat_item.color}"></i>
                                        </div>
                                        <h4 class="clrchg"></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <h2 class="sub-sub-title" style="margin-top: 15px;">{{province_name}} Province</h2>
                    <div class="ad-box-container clearfix">
                        <div class="col-md-2 focus-grid">
                            <a>
                                <div class="focus-border" ng-click="">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i ng-class="cat_item.icon"
                                                                    ng-style="{'background-color':cat_item.color}"></i>
                                        </div>
                                        <h4 class="clrchg"></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>