<div ng-controller="collapseDemoCtrl" class="main-menu">
    <div class="btn btn-default main-item" ng-click="isCollapsedUserProfile = !isCollapsedUserProfile">
        User Profile
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedUserProfile" ng-class="{selected_navigation_tab:viewUpdateProfile}">
        <span>View Update Profile</span>
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedUserProfile" ng-click="goBranchPage()">
        <span>Belong in Branch</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod2 = !isCollapsedMod2">
        Module-2
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod2">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod3 = !isCollapsedMod3">
        Module-3
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod3">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod4 = !isCollapsedMod4">
        Module-4
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod4">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod5 = !isCollapsedMod5">
        Module-5
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod5">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod6 = !isCollapsedMod6">
        Module-6
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod6">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod7 = !isCollapsedMod7">
        Module-7
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod7">
        <span>Some content</span>
    </div>

    <div class="btn btn-default main-item" ng-click="isCollapsedMod8 = !isCollapsedMod8">
        Module-8
    </div>
    <div class="secondary-item" uib-collapse="isCollapsedMod8">
        <span>Some content</span>
    </div>
</div>