<div class="register_page">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="register-secondary-container">
                    <div class="title-container">
                        <h2>REGISTER FORM</h2>
                    </div>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="First Name"
                                   name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name"
                                   name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" placeholder="Phone Number"
                                   name="phone_number">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email"
                                   name="email">
                        </div>
                        <div class="form-group">
                            <label for="address_line_1">Address Line 1</label>
                            <input type="text" class="form-control" id="address_line_1" placeholder="Address Line 1"
                                   name="address_line_1">
                        </div>
                        <div class="form-group">
                            <label for="address_line_2">Address Line 2</label>
                            <input type="text" class="form-control" id="address_line_2" placeholder="Address Line 2"
                                   name="address_line_2">
                        </div>
                        <div class="form-group">
                            <label for="address_line_3">Address Line 3</label>
                            <input type="text" class="form-control" id="address_line_3" placeholder="Address Line 3"
                                   name="address_line_3">
                        </div>
                        <div class="coordinats-container clearfix">
                            <div class="col-md-6">
                                <div class="row" style="padding-right:15px;">
                                    <label for="latitude">Latitude of Residence</label>
                                    <input type="text" class="form-control" id="latitude" placeholder="Latitude"
                                           name="latitude">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row" style="padding-left:15px;">
                                    <label for="latitude">Longitude of Residence</label>
                                    <input type="text" class="form-control" id="longitude" placeholder="Longitude"
                                           name="longitude">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   name="password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                   placeholder="Confirm Password"
                                   name="confirm_password">
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn btn-success">SUBMIT</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>