<div class="single-product-page-main-container" ng-controller="singleProductController">
    <div class="container">
        <div class="row">
            <div class="single-product-page-secondary-container">
                <div class="col-md-8">
                    <div class="image-container">
                        <img ng-src="{{image}}"/>
                    </div>
                    <div class="information-container">
                        <div class="item clearfix">
                            <div class="col-md-7">Name</div>
                            <div class="col-md-5">{{name}}</div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-md-7">Description</div>
                            <div class="col-md-5">{{description}}</div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-md-7">Price</div>
                            <div class="col-md-5">{{price}}</div>
                        </div>
                        <div class="item clearfix">
                            <div class="col-md-7">Avilable Quantity</div>
                            <div class="col-md-5">{{qty}}</div>
                        </div>
                    </div>
                    <div class="map-container clearfix">
                        <button class="btn btn-success view-map" ng-click="viewMap()" style="margin-bottom: 15px;">CLICK
                            HERE TO SHOW ESTIMATED DELIVERY TIME ON MAP
                        </button>
                        <order-directive id="map" location="obj" ng-if="show_map"
                                         style="margin-bottom: 20px;"></order-directive>
                        <div class="col-md-8">
                            <span ng-if="show_map"
                                  style="font-size: 20px;">Estimated Travel Time of Product Delivery</span>
                        </div>
                        <div class="col-md-4">
                            <span ng-if="show_map" style="font-size: 20px;">{{duration}} hours</span>
                        </div>
                    </div>
                    <div class="purchasing-qty-container clearfix"
                         style="margin-bottom: 15px;font-size: 20px;margin-top: 15px;">
                        <div class="col-md-7">Purchasing Quantity</div>
                        <div class="col-md-5"><input type="text" ng-model="purchasing_qty" class="form-control"/></div>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-success add-cart-btn" ng-click="addToCart()">ADD TO CART</button>
                        <button class="btn btn-success checkout-btn" ng-click="goBack()">BACK</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cart-icon-container">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="cart-details-container">
                        <div class="cart-detail-item clearfix" style="margin-top: 20px;font-size: 16px;">
                            <div class="col-md-9">
                                <span>No of Product Catalogs</span>
                            </div>
                            <div class="col-md-3">
                                <span>{{no_products}}</span>
                            </div>
                        </div>
                        <div class="cart-detail-item clearfix" style="margin-top: 20px;font-size: 16px;">
                            <div class="col-md-9">
                                <span>Total Price</span>
                            </div>
                            <div class="col-md-3">
                                <span>{{total_price}}/=</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-success btn-checkout" style="margin-top: 30px;">
                            CHECKOUT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>