<div class="single-product-page-main-container">
    <div class="container">
        <div class="row">
            <div class="single-product-page-secondary-container">
                <div class="image-container">

                </div>
                <div class="information-container">

                </div>
                <div class="map-container">

                </div>
                <div class="button-container">

                </div>
            </div>
        </div>
    </div>
</div>