<div class="user_profile_main_container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <navigation-menu-directive></navigation-menu-directive>
            </div>
            <div class="col-md-8">
                <div class="user-profile-secondary-container" ng-controller="editProfileController">
                    <div class="title">
                        <h2>Update User Details</h2>
                    </div>
                    <div class="details-container">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="first_name" ng-model="first_name" readonly>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="last_name" ng-model="last_name" readonly>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control" id="type" ng-model="type" readonly>
                        </div>
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control" id="dob" ng-model="dob" readonly>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" ng-model="phone_number" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="email" readonly>
                        </div>
                        <div class="form-group">
                            <label>Profile Photo</label>
                            <div class="photo-container">
                                <img ng-src="{{img_path}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address Line 1</label>
                            <input type="text" class="form-control" ng-model="add1">
                        </div>
                        <div class="form-group">
                            <label>Address Line 2</label>
                            <input type="text" class="form-control" ng-model="add2">
                        </div>
                        <div class="form-group">
                            <label>Address Line 3</label>
                            <input type="text" class="form-control" ng-model="add3">
                        </div>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input type="text" class="form-control" ng-model="obj.prop1">
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" ng-model="obj.prop2">
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" class="btn btn-default show-map-btn" ng-click="editMapClick()">
                                    CLICK
                                    TO SHOW AND EDIT LOCATION ON MAP THEN CLICK AGAIN TO SYNCHRONIZE
                                </button>
                            </div>
                            <div class="edit-map-container" style="margin-bottom: 15px;">
                                <map-dir id="map" location="obj" ng-if="show_map"></map-dir>
                            </div>
                        </div>
                        <div class="admin-boundary-container clearfix">
                            <h2 class="title">Administration Details</h2>
                            <div class="item-container clearfix">
                                <div class="col-md-6">
                                    <h3>Grama Niladhari Division</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>{{gnd}}</h3>
                                </div>
                            </div>
                            <div class="item-container clearfix">
                                <div class="col-md-6">
                                    <h3>District Secreteriast  Division</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>{{dsd}}</h3>
                                </div>
                            </div>
                            <div class="item-container clearfix">
                                <div class="col-md-6">
                                    <h3>District</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>{{district}}</h3>
                                </div>
                            </div>
                            <div class="item-container clearfix">
                                <div class="col-md-6">
                                    <h3>Province</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>{{province}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="error-msg-container">
                            <span class="error-msg">{{error_msg}}</span>
                        </div>
                        <div class="button-container" style="padding-top: 20px;">
                            <button class="btn btn-success save-btn" ng-click="submit();">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>