body {
    background-image: url(https://360.lk/bg_pattern.7e1951618b2c1961188b.png);
    background-repeat: repeat;
}

button {
    border-radius: 5px !important;
}

.header ul {
    list-style: none;
    padding-left: 0px;
}

.header ul li {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}

.header ul li a {
    text-decoration: none;
    color: black;
}

.about_us_page {
    padding-top: 50px;
}

.about_us_page .title {
    font-size: 30px;
    font-weight: bold;
    color: #666666;
}

.about_us_page .content {
    font-size: 18px;
    color: #666666;
}

.about_us_page .content p {
    margin-top: 15px;
    text-align: justify;
}

.about_us_page .described-image {
    width: 50%;
    margin-bottom: 30px;
}

.about_us_page .branches_container {
    margin-bottom: 15px;
}

.contact_page .branch-item .title h2 {
    font-size: 30px;
    font-weight: bold;
    color: #666666;
}

.contact_page .branch-item {
    margin-top: 15px;
}

.contact_page .branch-item .content .detail-container .symbol {
    font-size: 30px;
}

.contact_page .branch-item .content .detail-container {
    margin-top: 15px;
}

.contact_page .branch-item .content .detail-container .symbol-description {
    font-size: 18px;
    color: #666666;
}

.delivery-page .main-title-container .main-title {
    font-size: 30px;
    font-weight: bold;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 15px;
}

.delivery-page .question-item-container {
    margin-bottom: 50px;
    margin-top: 30px;
}

.delivery-page .question-item-container .question .text {
    font-weight: bold;
}

.delivery-page .question-item-container .answer {
    margin-top: 10px;
}

.delivery-page .question-item-container .answer ul {
    padding-top: 10px;
}

.delivery-page .question-item-container .answer ul li {
    margin-bottom: 10px;
}

.delivery-page .question-item-container .answer .text {

}

.login_page {
    min-height: 375px;
}

.login_page .login-secondary-container .title-container h2 {
    text-align: center;
}

.login_page .button-container {
    text-align: center;
}

.login_page .button-container button {
    width: 150px;
}

.login_page .login-secondary-container .title-container {
    margin-top: 50px;
}

.login_page .login-secondary-container input[type="text"] {
    margin-top: 10px;
}

.login_page .login-secondary-container input[type="password"] {
    margin-top: 10px;
}

.login_page .login-secondary-container input[type="email"] {
    margin-top: 10px;
}

.login_page .login-secondary-container input[type="checkbox"] {
    margin-left: 0px;
}

.register_page {
    margin-bottom: 20px;
}

.register_page .register-secondary-container .title-container {
    margin-top: 20px;
}

.register_page .register-secondary-container .title-container h2 {
    text-align: center;
}

.register_page .button-container {
    text-align: center;
}

.register_page .button-container button {
    width: 150px;
}

.register_page .show-map-btn {
    width: 455px !important;
    background-color: darkkhaki;
    margin-top: 15px;
    font-size: 11px;
}

.register_page .edit-map-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-msg-container .error-msg {
    color: red;
}

.register_page .register-submit-btn {
    margin-top: 10px;
}

.content .category-button-container {
    text-align: center;
    padding-top: 50px;
}

.content .feature-button-container {
    text-align: center;
    padding-top: 50px;
}

.content .popular-button-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .recent-button-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-bar-container-home-page {
    padding-top: 50px;
}

.content .focus-border {
    cursor: pointer;
}

.content .biseller-column {
    cursor: pointer;
}

.login_page .signup-text {
    float: right;
}

.login_page .signup-text .signup-link:hover {
    outline: none;
    text-decoration: none;
}

.carousel-caption {
    position: inherit !important;
    background-color: aquamarine;
}

.carousel-indicators {
    bottom: 0px;
}

.all_category_page {
    margin-bottom: 50px;
}

.all_category_page .all_category_title {
    text-align: center;
    color: #f3c500;
    font-size: 40px;
    margin-bottom: 35px;
}

.all-product-page .adbox {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.all-product-page {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 360px;
}

.all-product-page .adbox {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.all-product-page .adbox .image-container {
    border: 1px solid #ddd;
    padding: 15px 15px;
    border-radius: 6px;
}

.all-product-page .all_product_title {
    text-align: center;
    color: #f3c500;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.all-product-page .all_category_title {
    color: #f3c500;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 85px;
}

.focus-border-all-product {
    margin-bottom: 20px;
}

.horizontal-collapse {
    height: 70px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.main-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-menu .main-item {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-menu .secondary-item {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.modal-body, .modal-footer {
    text-align: center;
}

.user_profile_main_container .user-profile-secondary-container .button-container {
    text-align: center;
    margin-bottom: 15px;
}

.user_profile_main_container .user-profile-secondary-container .button-container .save-btn {
    width: 200px;
}

.user_profile_main_container .user-profile-secondary-container {
    padding-top: 10px;
}

.user_profile_main_container .user-profile-secondary-container .photo-container {
    width: 135px;
}

.user_profile_main_container .user-profile-secondary-container img {
    width: auto;
}

.user_profile_main_container .user-profile-secondary-container .button-container {
    text-align: center;
}

.user_profile_main_container .user-profile-secondary-container .show-map-btn {
    width: 455px !important;
    background-color: darkkhaki;
    margin-top: 15px;
    font-size: 11px;
}

.profile-photo-circle {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: -20px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.profile-photo-circle .logout-text {
    border: 1px solid black;
    position: absolute;
    bottom: 15px;
    right: -60px;
    padding: 3px 3px;
    cursor: pointer;
}

.selected_navigation_tab {
    background-color: burlywood !important;
}

.branch-page {
    padding-bottom: 15px;
}

.branch-page .title-container {
    padding-top: 10px;
}

.branch-page .title-container h2 {
    padding-top: 0px;
}

.branch-page .branch-name span {
    font-size: 18px !important;
    margin-top: 10px;
    display: inline-block;
}

.branch-page .image-container img {
    width: 75%;
    margin-top: 15px;
}

.branch-page .route-map-container {
    margin-top: 15px;
}

.branch-page .route-map-container .map-container {
    margin-top: 15px;
}

.branch-page .button-container {
    margin-bottom: 15px;
    margin-top: 15px;
}